@font-face {
  font-family: light;
  src: url(./fonts/SuisseIntl-Light.woff2);
}
@font-face {
  font-family: regular;
  src: url(./fonts/SuisseIntl-Regular.woff2);
}
@font-face {
  font-family: special;
  src: url(./fonts/0yFpglK3jVYQPMAavtrS0bTWcJs.ttf);
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: regular;
}

html, body {
  height: 100%;
  width: 100%;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #000;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 10px;
}
#loader h3 {
  font-family: light;
  font-weight: 100;
  font-size: 1.4vw;
  letter-spacing: 2px;
}

main .section1 {
  height: 100vh;
  width: 100%;
  background-color: #dadada;
  position: relative;
}
main .section1 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
main .section1 .section1-content {
  height: 100%;
  width: 100%;
  position: relative;
  color: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .section1 .section1-content .cursor {
  height: 8vw;
  width: 8vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  opacity: 0;
}
main .section1 .section1-content .cursor h5 {
  font-size: 1vw;
  font-weight: 100;
  color: #000;
}
main .section1 .section1-content nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3vw;
  z-index: 4;
}
main .section1 .section1-content nav h3 {
  font-family: light;
  font-size: 1.3vw;
  font-weight: 100;
}
main .section1 .section1-content nav h4 {
  font-family: light;
  font-size: 1.3vw;
}
main .section1 .section1-content svg {
  padding: 3vw;
  padding-bottom: 6vw;
  z-index: 4;
}
main .section2 {
  height: 100vh;
  width: 100%;
  padding: 4vw 3vw;
  position: relative;
  z-index: 5;
}
main .section2 .top {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1vw 0;
  border-bottom: 0.5px solid #000;
}
main .section2 .top .left-text h3 {
  font-family: light;
  font-size: 1.5vw;
  letter-spacing: 1.5px;
}
main .section2 .top h3 {
  font-family: light;
  font-size: 1.5vw;
  letter-spacing: 1.5px;
}
main .section2 .bottom {
  width: 100%;
  margin: 1vw 0;
}
main .section2 .bottom .element {
  position: relative;
  z-index: 2;
  padding-top: 1.5vw;
  background-color: #fff;
}
main .section2 .bottom .element h1 {
  line-height: 1;
  font-size: 3.8vw;
  letter-spacing: 4.4px;
  font-family: light;
  font-weight: 600;
}
main .section3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 4vw 3vw;
}
main .section3 .section3-top {
  text-align: center;
  margin: 6vw 0;
}
main .section3 .section3-top h4 {
  margin-bottom: 5px;
  font-size: 1.1vw;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
main .section3 .section3-top h4 span {
  padding: 4px 10px;
  line-height: 1;
  font-size: 0.7vw;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
}
main .section3 .section3-top h2 {
  font-size: 3.5vw;
  font-weight: 500;
}
main .section3 .section3-elements {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15vw;
}
main .section3 .section3-elements .box {
  height: 100%;
  width: 32.5%;
  position: relative;
}
main .section3 .section3-elements .box video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .section3 .section3-elements .box img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-position: 65%;
     object-position: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all linear 0.7s;
}
main .section3 .section3-elements .box:hover img {
  opacity: 0;
}
main .section4 {
  height: 100vh;
  width: 100%;
  position: relative;
}
main .section4 .cursor-bl {
  position: fixed;
  height: 8vw;
  width: 8vw;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  transform: translate(-50%, -50%);
  opacity: 0;
}
main .section4 .cursor-bl h5 {
  font-size: 1vw;
  font-weight: 100;
  color: #fff;
}
main .section4 .img-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  overflow: hidden;
  position: relative;
}
main .section4 .img-wrapper .circle {
  width: 30vw;
  height: 30vw;
  position: absolute;
  background-color: transparent;
  z-index: 8;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .section4 .img-wrapper .circle h5 {
  font-size: 3vw;
  font-family: light;
  color: #fff;
  cursor: pointer;
}
main .section4 .img-wrapper .circle h6 {
  font-size: 0.8vw;
  font-family: light;
  font-weight: 100;
  line-height: 0;
  color: #fff;
}
main .section4 .img-wrapper img {
  height: 100%;
  scale: 1.5;
}
main .section5 {
  height: 100vh;
  width: 100%;
  padding: 6vw 0;
  position: relative;
}
main .section5 .section5-top h1 {
  width: 96%;
  margin-left: 2%;
  font-family: light;
  font-size: 8vw;
  border-bottom: 1px solid #000;
}
main .section5 .section5-top .swiperdiv {
  height: 60vh;
  width: 100%;
  position: relative;
  margin-top: -5%;
}
main .section5 .section5-top .swiperdiv .swiper {
  width: 100%;
  height: 100%;
}
main .section5 .section5-top .swiperdiv .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
main .section5 .section5-top .swiperdiv .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 19%;
  -o-object-fit: cover;
     object-fit: cover;
}